.App {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.categories {
  border: 1px solid black;
  width: 300px;
  position: fixed;
  left: 50%;
  top:0;
  padding: 5px;
}